<?xml version="1.0" encoding="UTF-8"?>
<mappingtask>
  <config>
    <rewriteSubsumptions>true</rewriteSubsumptions>
    <rewriteCoverages>true</rewriteCoverages>
    <rewriteSelfJoins>true</rewriteSelfJoins>
    <rewriteEGDs>false</rewriteEGDs>
    <sortStrategy>-1</sortStrategy>
    <skolemTableStrategy>-1</skolemTableStrategy>
    <useLocalSkolem>false</useLocalSkolem>
  </config>
  <source>
    <type>CSV</type>
    <csv>
      <csv-db-name>MRIHospital</csv-db-name>
      <csv-tables>
        <csv-table>
          <schema>source/mri_visits.csv</schema>
          <instances>
            <instance>
              <path>source/mri_visits.csv</path>
              <column-names>true</column-names>
            </instance>
          </instances>
        </csv-table>
        <csv-table>
          <schema>source/EncounterMapping.csv</schema>
          <instances>
            <instance>
              <path>source/EncounterMapping.csv</path>
              <column-names>true</column-names>
            </instance>
          </instances>
        </csv-table>
        <csv-table>
          <schema>source/PatientMapping.csv</schema>
          <instances>
            <instance>
              <path>source/PatientMapping.csv</path>
              <column-names>true</column-names>
            </instance>
          </instances>
        </csv-table>
        <csv-table>
          <schema>source/unpivoted_volumes_df.csv</schema>
          <instances>
            <instance>
              <path>source/unpivoted_volumes_df.csv</path>
              <column-names>true</column-names>
            </instance>
          </instances>
        </csv-table>
      </csv-tables>
    </csv>
    <inclusions />
    <exclusions />
    <duplications>
      <duplication>MRIHospital.mri_visits</duplication>
      <duplication>MRIHospital.PatientMapping</duplication>
      <duplication>MRIHospital.EncounterMapping</duplication>
      <duplication>MRIHospital.PatientMapping</duplication>
    </duplications>
    <functionalDependencies />
    <selectionConditions />
    <joinConditions>
      <joinCondition>
        <join>
          <from>MRIHospital.EncounterMapping.EncounterMappingTuple.encounter_ide</from>
          <to>MRIHospital.mri_visits.mri_visitsTuple.VISIT_ID</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
      <joinCondition>
        <join>
          <from>MRIHospital.EncounterMapping.EncounterMappingTuple.patient_ide</from>
          <to>MRIHospital.PatientMapping.PatientMappingTuple.patient_ide</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
      <joinCondition>
        <join>
          <from>MRIHospital.unpivoted_volumes_df.unpivoted_volumes_dfTuple.VISIT_ID</from>
          <to>MRIHospital.mri_visits_1_.mri_visitsTuple.VISIT_ID</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
      <joinCondition>
        <join>
          <from>MRIHospital.unpivoted_volumes_df.unpivoted_volumes_dfTuple.VISIT_ID</from>
          <to>MRIHospital.EncounterMapping_1_.EncounterMappingTuple.encounter_ide</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
      <joinCondition>
        <join>
          <from>MRIHospital.EncounterMapping_1_.EncounterMappingTuple.patient_ide</from>
          <to>MRIHospital.PatientMapping_2_.PatientMappingTuple.patient_ide</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
    </joinConditions>
  </source>
  <target>
    <type>Relational</type>
    <relational>
      <driver>org.postgresql.Driver</driver>
      <uri>jdbc:postgresql://{{ .Env.i2b2_db_host }}:{{ default .Env.i2b2_db_port "5432" }}/{{ .Env.i2b2_db_name }}</uri>
      <login>{{ default .Env.i2b2_db_user "postgres" }}</login>
      <password>{{ default .Env.i2b2_db_password "postgres" }}</password>
    </relational>
    <inclusions />
    <exclusions />
    <duplications />
    <functionalDependencies />
    <selectionConditions />
    <joinConditions />
  </target>
  <correspondences>
    <correspondence>
      <source-paths>
        <source-path>MRIHospital.EncounterMapping.EncounterMappingTuple.encounter_ide</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.encounter_ide</target-path>
      <transformation-function>MRIHospital.EncounterMapping.EncounterMappingTuple.encounter_ide</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>MRIHospital.EncounterMapping.EncounterMappingTuple.encounter_ide_source</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.encounter_ide_source</target-path>
      <transformation-function>MRIHospital.EncounterMapping.EncounterMappingTuple.encounter_ide_source</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>MRIHospital.EncounterMapping.EncounterMappingTuple.project_id</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.project_id</target-path>
      <transformation-function>MRIHospital.EncounterMapping.EncounterMappingTuple.project_id</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>MRIHospital.EncounterMapping.EncounterMappingTuple.encounter_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.encounter_num</target-path>
      <transformation-function>MRIHospital.EncounterMapping.EncounterMappingTuple.encounter_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>MRIHospital.EncounterMapping.EncounterMappingTuple.patient_ide</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.patient_ide</target-path>
      <transformation-function>MRIHospital.EncounterMapping.EncounterMappingTuple.patient_ide</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>MRIHospital.EncounterMapping.EncounterMappingTuple.patient_ide_source</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.patient_ide_source</target-path>
      <transformation-function>MRIHospital.EncounterMapping.EncounterMappingTuple.patient_ide_source</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>datetime()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.import_date</target-path>
      <transformation-function>datetime()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>MRIHospital.EncounterMapping.EncounterMappingTuple.encounter_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.visit_dimension.visit_dimensionTuple.encounter_num</target-path>
      <transformation-function>MRIHospital.EncounterMapping.EncounterMappingTuple.encounter_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>MRIHospital.PatientMapping.PatientMappingTuple.patient_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.visit_dimension.visit_dimensionTuple.patient_num</target-path>
      <transformation-function>MRIHospital.PatientMapping.PatientMappingTuple.patient_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>MRIHospital.mri_visits.mri_visitsTuple.PATIENT_AGE</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.visit_dimension.visit_dimensionTuple.patient_age</target-path>
      <transformation-function>MRIHospital.mri_visits.mri_visitsTuple.PATIENT_AGE</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>datetime()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.visit_dimension.visit_dimensionTuple.import_date</target-path>
      <transformation-function>datetime()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>MRIHospital.PatientMapping_1_.PatientMappingTuple.patient_ide</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.patient_mapping.patient_mappingTuple.patient_ide</target-path>
      <transformation-function>MRIHospital.PatientMapping_1_.PatientMappingTuple.patient_ide</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>MRIHospital.PatientMapping_1_.PatientMappingTuple.patient_ide_source</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.patient_mapping.patient_mappingTuple.patient_ide_source</target-path>
      <transformation-function>MRIHospital.PatientMapping_1_.PatientMappingTuple.patient_ide_source</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>MRIHospital.PatientMapping_1_.PatientMappingTuple.patient_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.patient_mapping.patient_mappingTuple.patient_num</target-path>
      <transformation-function>MRIHospital.PatientMapping_1_.PatientMappingTuple.patient_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>MRIHospital.PatientMapping_1_.PatientMappingTuple.project_id</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.patient_mapping.patient_mappingTuple.project_id</target-path>
      <transformation-function>MRIHospital.PatientMapping_1_.PatientMappingTuple.project_id</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>datetime()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.patient_mapping.patient_mappingTuple.import_date</target-path>
      <transformation-function>datetime()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>MRIHospital.EncounterMapping_1_.EncounterMappingTuple.encounter_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.encounter_num</target-path>
      <transformation-function>MRIHospital.EncounterMapping_1_.EncounterMappingTuple.encounter_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>MRIHospital.PatientMapping_2_.PatientMappingTuple.patient_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.patient_num</target-path>
      <transformation-function>MRIHospital.PatientMapping_2_.PatientMappingTuple.patient_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>MRIHospital.unpivoted_volumes_df.unpivoted_volumes_dfTuple.Attribute</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.concept_cd</target-path>
      <transformation-function>MRIHospital.unpivoted_volumes_df.unpivoted_volumes_dfTuple.Attribute</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>MRIHospital.EncounterMapping_1_.EncounterMappingTuple.project_id</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.provider_id</target-path>
      <transformation-function>MRIHospital.EncounterMapping_1_.EncounterMappingTuple.project_id</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>MRIHospital.mri_visits_1_.mri_visitsTuple.VISIT_DATE</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.start_date</target-path>
      <transformation-function>todate(MRIHospital.mri_visits_1_.mri_visitsTuple.VISIT_DATE, "dd/mm/yyyy")</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"@"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.modifier_cd</target-path>
      <transformation-function>"@"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>1</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.instance_num</target-path>
      <transformation-function>1</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"N"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.valtype_cd</target-path>
      <transformation-function>"N"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"E"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.tval_char</target-path>
      <transformation-function>"E"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>MRIHospital.unpivoted_volumes_df.unpivoted_volumes_dfTuple.Value</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.nval_num</target-path>
      <transformation-function>MRIHospital.unpivoted_volumes_df.unpivoted_volumes_dfTuple.Value</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>
        newId()_Seq1
        <sequence>Seq1</sequence>
        <offset>1</offset>
      </source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.text_search_index</target-path>
      <transformation-function>newId()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"MRI"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.visit_dimension.visit_dimensionTuple.location_cd</target-path>
      <transformation-function>"MRI"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"MRI"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.location_cd</target-path>
      <transformation-function>"MRI"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>datetime()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.import_date</target-path>
      <transformation-function>datetime()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>MRIHospital.mri_visits.mri_visitsTuple.VISIT_DATE</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.visit_dimension.visit_dimensionTuple.start_date</target-path>
      <transformation-function>todate(MRIHospital.mri_visits.mri_visitsTuple.VISIT_DATE, "dd/mm/yyyy")</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
  </correspondences>
</mappingtask>

