<?xml version="1.0" encoding="UTF-8"?>
<mappingtask>
  <config>
    <rewriteSubsumptions>true</rewriteSubsumptions>
    <rewriteCoverages>true</rewriteCoverages>
    <rewriteSelfJoins>true</rewriteSelfJoins>
    <rewriteEGDs>false</rewriteEGDs>
    <sortStrategy>-1</sortStrategy>
    <skolemTableStrategy>-1</skolemTableStrategy>
    <useLocalSkolem>false</useLocalSkolem>
  </config>
  <source>
    <type>CSV</type>
    <csv>
      <csv-db-name>imaging_pipeline</csv-db-name>
      <csv-tables>
        <csv-table>
          <schema>source/unpivoted_volumes.csv</schema>
          <instances>
            <instance>
              <path>source/unpivoted_volumes.csv</path>
              <column-names>true</column-names>
            </instance>
          </instances>
        </csv-table>
        <csv-table>
          <schema>source/EncounterMapping.csv</schema>
          <instances>
            <instance>
              <path>source/EncounterMapping.csv</path>
              <column-names>true</column-names>
            </instance>
          </instances>
        </csv-table>
        <csv-table>
          <schema>source/PatientMapping.csv</schema>
          <instances>
            <instance>
              <path>source/PatientMapping.csv</path>
              <column-names>true</column-names>
            </instance>
          </instances>
        </csv-table>
      </csv-tables>
    </csv>
    <inclusions />
    <exclusions />
    <duplications />
    <functionalDependencies />
    <selectionConditions />
    <joinConditions>
      <joinCondition>
        <join>
          <from>imaging_pipeline.unpivoted_volumes.unpivoted_volumesTuple.visit_id</from>
          <to>imaging_pipeline.EncounterMapping.EncounterMappingTuple.encounter_ide</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
      <joinCondition>
        <join>
          <from>imaging_pipeline.unpivoted_volumes.unpivoted_volumesTuple.subjectcode</from>
          <to>imaging_pipeline.PatientMapping.PatientMappingTuple.patient_ide</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
    </joinConditions>
  </source>
  <target>
    <type>Relational</type>
    <relational>
      <driver>org.postgresql.Driver</driver>
      <uri>jdbc:postgresql://{{ .Env.i2b2_db_host }}:{{ default .Env.i2b2_db_port "5432" }}/{{ .Env.i2b2_db_name }}</uri>
      <login>{{ default .Env.i2b2_db_user "postgres" }}</login>
      <password>{{ default .Env.i2b2_db_password "postgres" }}</password>
    </relational>
    <inclusions />
    <exclusions />
    <duplications />
    <functionalDependencies />
    <selectionConditions />
    <joinConditions />
  </target>
  <correspondences>
    <correspondence>
      <source-paths>
        <source-path>imaging_pipeline.EncounterMapping.EncounterMappingTuple.encounter_ide</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.encounter_ide</target-path>
      <transformation-function>imaging_pipeline.EncounterMapping.EncounterMappingTuple.encounter_ide</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>imaging_pipeline.EncounterMapping.EncounterMappingTuple.encounter_ide_source</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.encounter_ide_source</target-path>
      <transformation-function>imaging_pipeline.EncounterMapping.EncounterMappingTuple.encounter_ide_source</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>imaging_pipeline.EncounterMapping.EncounterMappingTuple.project_id</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.project_id</target-path>
      <transformation-function>imaging_pipeline.EncounterMapping.EncounterMappingTuple.project_id</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>imaging_pipeline.EncounterMapping.EncounterMappingTuple.encounter_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.encounter_num</target-path>
      <transformation-function>imaging_pipeline.EncounterMapping.EncounterMappingTuple.encounter_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>imaging_pipeline.EncounterMapping.EncounterMappingTuple.patient_ide</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.patient_ide</target-path>
      <transformation-function>imaging_pipeline.EncounterMapping.EncounterMappingTuple.patient_ide</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>imaging_pipeline.EncounterMapping.EncounterMappingTuple.patient_ide_source</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.patient_ide_source</target-path>
      <transformation-function>imaging_pipeline.EncounterMapping.EncounterMappingTuple.patient_ide_source</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>date()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.import_date</target-path>
      <transformation-function>date()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>imaging_pipeline.EncounterMapping.EncounterMappingTuple.encounter_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.encounter_num</target-path>
      <transformation-function>imaging_pipeline.EncounterMapping.EncounterMappingTuple.encounter_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>imaging_pipeline.PatientMapping.PatientMappingTuple.patient_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.patient_num</target-path>
      <transformation-function>imaging_pipeline.PatientMapping.PatientMappingTuple.patient_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>imaging_pipeline.unpivoted_volumes.unpivoted_volumesTuple.attribute</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.concept_cd</target-path>
      <transformation-function>imaging_pipeline.unpivoted_volumes.unpivoted_volumesTuple.attribute</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>imaging_pipeline.EncounterMapping.EncounterMappingTuple.project_id</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.provider_id</target-path>
      <transformation-function>imaging_pipeline.EncounterMapping.EncounterMappingTuple.project_id</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>date()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.start_date</target-path>
      <transformation-function>date()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"@"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.modifier_cd</target-path>
      <transformation-function>"@"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>1</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.instance_num</target-path>
      <transformation-function>1</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"N"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.valtype_cd</target-path>
      <transformation-function>"N"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"E"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.tval_char</target-path>
      <transformation-function>"E"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>imaging_pipeline.unpivoted_volumes.unpivoted_volumesTuple.Value</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.nval_num</target-path>
      <transformation-function>imaging_pipeline.unpivoted_volumes.unpivoted_volumesTuple.Value</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"cm3"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.units_cd</target-path>
      <transformation-function>"cm3"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>imaging_pipeline.EncounterMapping.EncounterMappingTuple.project_id</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.location_cd</target-path>
      <transformation-function>imaging_pipeline.EncounterMapping.EncounterMappingTuple.project_id</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>date()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.import_date</target-path>
      <transformation-function>date()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>
        newId()_seq1
        <sequence>seq1</sequence>
        <offset>0</offset>
      </source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.text_search_index</target-path>
      <transformation-function>newId()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>imaging_pipeline.PatientMapping.PatientMappingTuple.patient_ide</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.patient_mapping.patient_mappingTuple.patient_ide</target-path>
      <transformation-function>imaging_pipeline.PatientMapping.PatientMappingTuple.patient_ide</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>imaging_pipeline.PatientMapping.PatientMappingTuple.patient_ide_source</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.patient_mapping.patient_mappingTuple.patient_ide_source</target-path>
      <transformation-function>imaging_pipeline.PatientMapping.PatientMappingTuple.patient_ide_source</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>imaging_pipeline.PatientMapping.PatientMappingTuple.patient_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.patient_mapping.patient_mappingTuple.patient_num</target-path>
      <transformation-function>imaging_pipeline.PatientMapping.PatientMappingTuple.patient_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>imaging_pipeline.PatientMapping.PatientMappingTuple.project_id</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.patient_mapping.patient_mappingTuple.project_id</target-path>
      <transformation-function>imaging_pipeline.PatientMapping.PatientMappingTuple.project_id</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>date()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.patient_mapping.patient_mappingTuple.import_date</target-path>
      <transformation-function>date()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
  </correspondences>
</mappingtask>

